@{
    /**
     * Author: Jason Bensel
     * Stockroom main page
     */

    //Sets tab bar title
    ViewBag.Title = "General Log Book Entry";

    //Uses this scaffolding as main layout --
    //can change later, but the below cshtml is called by RenderBody() in _layout.cshmtl
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>
        @ViewBag.Title - AMP
    </h1>
</div>
