#content-full{
    width: 100%;
    padding: 0;
    margin: 0;
}
#title {
    text-align: center;
}
#content{
    width: 100%;
}
#sideNav{
    background-color: #333333;
    /*position: fixed;*/
}
#sideNav a{
    color: #999999;
}
#sideNav a:hover{
    color: white;
    background-color: #333333;
}
#pills{
    display: inline-block;
}
.dropdown:hover .dropdown-menu {
    display: block;
}


