@model CIS467_AMP.ViewModels.HomeViewModel
@{
    ViewBag.Title = "AMP Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Navbar")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>System Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>News</h3>
            <ul>
                <li><strong>March 30th - </strong>Stuff going on here</li>
                <li><strong>March 27th - </strong>Important stuff here too</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>System Updates</h4>
            <ul>
                <li>Admins - Update your passwords</li>
                <li>Update scheduled 4/15/2017</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <br/><br/><br/>To test, login use one of following user accounts with password of Guest1!
    @foreach (var user in Model.Users)
    {
        <div>@user</div>
    }
    NOTE: This is intended to be removed before actual demo. 
</div>

